### (1) Pandas

(a) Arrays and matrices are called <b> Series </b> and <b> DataFrames</b> in Pandas.

(b) Pandas is built on top of the NumPy library and it allows us to work with arrays and matrices

(c) An <b>index</b> is a list of integers or labels that you use to uniquely identify rows or columns. We can index using </b>\[ \]</b> or the <b>.loc</b> indexer.

### (2) DataFrames

<li> A dataframe is like an excel sheet of rows and columns. </li>
<li> The rows and columns individually are series (arrays) objects in Pandas library. </li> 
<li> DFs are indexable</li>
<li>A series object (an array) is a single (entire) row or a single (entire) column</li>

In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame

### (3) Selecting and retrieving data

Creating an object called series_obj and calling series constructor. Passing in a numpy function called <b> arange </b> to create a series of 8 values (from 0 to 7). We're also indexing our series data (array data).

In [2]:
series_obj = Series(np.arange(8), index=['row 1', 'row 2','row 3','row 4','row 5','row 6','row 7','row 8' ])

Printing the object

In [3]:
series_obj

row 1    0
row 2    1
row 3    2
row 4    3
row 5    4
row 6    5
row 7    6
row 8    7
dtype: int64

#### (a) Label indexing:

In [4]:
series_obj['row 7']

6

#### (b) Integer Index:

In [6]:
series_obj[6]

6

Indexing with multiple indices:

In [11]:
series_obj[[0,7,4]] #return 0th, 7th and 4th elements in the series object

row 1    0
row 8    7
row 5    4
dtype: int64

#### (c) Indexer method '.loc'

Using random number generator to create a DataFrame. Then we create 36 random numbers and call the <b> reshape </b> method that creates a matrix from these numbers. In our case we're creating a matrix with 6 rows and 6 columns. We're then again, creating an index as well and labelling our rows.

In [16]:
np.random.seed(25)
df_obj = DataFrame(np.random.rand(36).reshape((6,6)),index=['row 1','row 2','row 3','row 4','row 5','row 6'], 
                   columns=['col 1','col 2','col 3','col 4','col 5','col 6'])

In [17]:
df_obj

          col 1     col 2     col 3     col 4     col 5     col 6
row 1  0.870124  0.582277  0.278839  0.185911  0.411100  0.117376
row 2  0.684969  0.437611  0.556229  0.367080  0.402366  0.113041
row 3  0.447031  0.585445  0.161985  0.520719  0.326051  0.699186
row 4  0.366395  0.836375  0.481343  0.516502  0.383048  0.997541
row 5  0.514244  0.559053  0.034450  0.719930  0.421004  0.436935
row 6  0.281701  0.900274  0.669612  0.456069  0.289804  0.525819

Now using the <b> .loc</b> indexer:

In [20]:
df_obj.loc[['row 2', 'row 4'],['col 5', 'col 2']]

          col 5     col 2
row 2  0.402366  0.437611
row 4  0.383048  0.836375